@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --clr-almost-white: hsl(0, 0%, 98%);
    --clr-medium-gray: hsl(0, 0%, 41%);
    --clr-almost-black: hsl(0, 0%, 8%);

    --fw-bold: 700;
    --fw-medium: 500;

    --fn-family: 'Epilogue', sans-serif;

    --fs-100: 1rem;
    --fs-200: 1.3rem;
    --fs-300: 4rem;
}

/* Resets */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
picture,
img {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fn-family);
    color: var(--clr-medium-gray);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

button {
    border: none;
    outline: none;
    fill: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--clr-medium-gray);
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* General Styling */

.heading-container {
    --heading-max-width: 1200px;
    --heading-padding: 2rem;

    width: min(var(--heading-max-width), 100% - var(--heading-padding));
    margin-inline: auto;
    margin-bottom: 1rem;
}

.body-container {
    --body-max-width: 1000px;
    --body-padding: 2rem;

    width: min(var(--body-max-width), 100% - var(--body-padding));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    gap: 3.5rem;
}

.heading-bar {
    display: flex;
    padding-block: 2rem;
    align-items: center;
    gap: 1rem;
}

.nav-list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.primary-navigation {
    flex: 1;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
    align-items: center;

}


nav li:last-of-type {
    margin-left: auto;
}


.mobile-nav-toggle {
    display: none;
}

.info {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

/*-- Mobile only --*/
@media (max-width: 45em) {
  
    .image-container
    {
        order: 1;
    }

    .info
    {
        gap: 1rem;
        align-items: center;
        order: 2;
    }


    .even-columns {
        grid-auto-flow: row;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    nav li:last-of-type {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 35%;
        background: var(--clr-almost-white);
        padding: 7rem 2rem 0rem;
        box-shadow: 10rem 10rem 1000vh black;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        cursor: pointer;
        padding: 0.5em;
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 1.7rem;
        background-image: url('images/icon-menu.svg');
        width: 1.55rem;
        padding: 0.5rem;
        aspect-ratio: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('images/icon-close-menu.svg');
        width: 1.40rem;
    }


}

/* Utilities */

/* Text */
.bold {
    font-weight: var(--fw-bold);
}

.normal {
    font-weight: var(--fw-medium);
}

.white-txt {
    color: var(--clr-almost-white);
}

.black-txt {
    color: var(--clr-almost-black);
}

.grey-txt {
    color: var(--clr-medium-gray);
}

.heading-dec {
    font-weight: var(--fw-bold);
    font-size: 4.4rem;
    color: var(--clr-almost-black);
    line-height: 1;
}

/* Text */

/* Background */
.white-bg {
    background-color: var(--clr-almost-white);
}

.black-bg {
    background-color: var(--clr-almost-black);
}

/* Background */



.button[data-type="inverted"] {
    background-color: transparent;
    border: 1px solid var(--clr-medium-gray);
    color: var(--clr-medium-gray);
    padding: 0.4rem 1rem;
}

.button {
    background-color: var(--clr-almost-black);
    border: none;
    outline: none;
    border-radius: 0.45rem;
    color: var(--clr-almost-white);
    cursor: pointer;
    padding: 0.7rem 1rem;
    font-weight: var(--fw-bold);
    max-width: fit-content;
}

.flex {
    display: flex;
}

.gap-100 {
    gap: 1.5rem;
}

.gap-200 {
    gap: 3.2rem;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*-- Mobilie only -- */
@media (max-width: 45em) {}